* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: #2e2e2e;
  color: rgb(224, 226, 228);
}



#map {
  width: 1200px;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0 0 1px rgb(112, 111, 111);
}

button {
  padding: 0.25em 0.75em;
  margin: 1em 0.5em;
  cursor: pointer;
  user-select: none;
}

.leaflet-container {
  display: inline-block;
  width: 100%;
  height: 100vh; 
  /* float: right;
  clear: right; */
} 

.dopinfo{
  display:grid;
  grid-template-columns: 1fr;
  gap: 10px;

  position: absolute;
  width: calc(20% - 6px);
  height: calc(100% - 110px);
  z-index: 1000;
  top: 90px;
  vertical-align: top;
  margin-left: 12px;
  padding: 10px;
  background-color: #2e2e2e;
  border: 1px solid  #2e2e2e;
  min-width: 300px;
  max-width: 400px;
  opacity: 0.9;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-image: linear-gradient(to right top, #830191, #039e1d);
} 

.dopinfo_content {
  position: relative;
  width: 100%;
  height: auto;
  min-height: auto;
  z-index: 1001;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-color: #2e2e2e;
  border: rgba(0, 0, 0);
  opacity: 1;
  border-radius: 7px;
} 

.title, .contentFuter {
  display: inline-block;
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 5px;
}

.contentFuter{
  margin-bottom: 0px;
  font-size: 12px;
  text-align: justify;
  color: #f1baf7;
}

.listAzs {
  display: grid;
  grid-template-columns: 30px 45px 1fr;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.258);
  padding-bottom: 4px;
  padding-top: 4px;
  cursor:pointer;
}

.emptydiv {
  width:100%;
  height: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow-y: scroll;
  border-top: 5px solid #2e2e2e;
  border-bottom: 5px solid #2e2e2e;
}

.address {
  font-size: 12px;
  text-align: left;
}

.image {
  padding: 0px;
  margin-right: 15px;
}

.pricetable {
  display: inline-block;
  width: 100;
} 

